# Created by .ignore support plugin (hsz.mobi)
/app-dubo.iml
/logger.path_IS_UNDEFINED
.idea/*
.DS_Store
*.iml
*/*.iml
.settings
.classpath
.project
classes
test-classes
*.log
/log
logs
target
~/.m2/*
*/target/
/*/*/target/
*/*/*.iml
.idea/
.idea
/target
/*/target/*
/bin
/temp/*
